---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>HaribOS</title>
		<style>
			*{
				padding: 0;
				margin: 0;
				box-sizing: border-box;
				font-family: monospace;
			}
			div{margin: 15px;}
			h1, p{margin-bottom: 10px;}
			a{text-decoration:none;}
		</style>
	</head>
	<body>
		<div>
			<h1>HaribOS</h1>
			<p>Welcome on The HaribOS Organization's official website.</p>
			<p>This website is currently under construction, you can follow the evolution of the development on the Discord server 
				or on our <a href="https://github.com/The-HaribOS-Organization" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>
		</div>
	</body>
</html>
